a:hover
{
    text-decoration: none !important;
}

#loader
{
    position:fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(255,255,255,0.9);
    z-index:99999999;
}

#loader-icon
{
    position:fixed;
    width: 150px;
    height:150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}

.data-block .card
{
    cursor: pointer;
}

.data-block .card:hover
{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
}

.content-types
{
    position:absolute;
    right:1%;
    bottom:1%;
    height:20px;
    background:#fff;
}

.icn-content
{
    font-size:12px;
    margin-left:3px !important;
    color:#555;
    margin-bottom:3px;
}

.fa-youtube-play, .fa-globe
{
    font-size:14px;
    padding-top:2px;
    margin-bottom:0px !important;
}

#msgBox
{
    font-weight:bold;
}

.card
{
    margin-bottom:8px;
}

.card-block
{
    height:48px !important;
    max-height:48px !important;
    min-height:48px !important;
    overflow:hidden !important;
}

.card-block-lg
{
    height:60px !important;
    max-height:60px !important;
    min-height:60px !important;
    overflow:hidden !important;
}

.card-block-sm
{
    height:30px !important;
    max-height:30px !important;
    min-height:30px !important;
    overflow:hidden !important;
}

#searchBar
{
    position: fixed;
    top:0;
    text-align:center;
    height:55px;
    width:100%;
    background: #fff;
    margin:0;
    padding:20;
    display:none;
    outline: none;
}

.search-panel
{
    position: fixed;
    top:0;
    height:35px;
    left:50%;
    width:320px;
    margin-left:-160px;
    padding:10px;
}

#search-input
{
    border:0;
    outline-color: #fff;
    width:260px !important;
    font-size: 20px;
}

#search-input:focus
{
    border-color: #fff !important;
    box-shadow: none !important;
}

.search-close
{
    position: absolute;
    top:3px;
    right:10px;
    background: #eee;
    color: #222;
    border-radius: 10px;
    padding:5px 20px;
    cursor:pointer;
    font-size:20px;
}

/** Floating icons **/
.floating-icon-main
{
    position:fixed;
    bottom:60px;
    right:10px;
    width:50px;
    height:50px;
    background:#333;
    border-radius:50px;
    border: 2px solid #222;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.floating-icon span
{
    color:#fff;
    font-size:25px;
    margin-top:12px;
    margin-left:14px;
}

.floating-icon:hover
{
    background:rgb(0, 123, 180);
    border: 2px solid rgb(0, 122, 221);
}


/** Forms **/
.input-group-text
{
    width:100px;
    text-align:center !important;
    display:block !important;
    font-weight:bold;
    font-size: 11px;
}

.form-control
{
    font-size: 12px;
    padding: 5px;
}

.input-group
{
    margin-bottom: 5px;
}

/** Templates styles overriding **/
html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main, html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer
{
    margin-right: 0px !important;
}

html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer
{
    margin-left: 0px !important;
}

.aside-menu
{
    width:320px;
}

.aside-menu-fixed .app-header + .app-body .aside-menu
{
    height: calc(100vh - 55px);
}

html:not([dir="rtl"]) .aside-menu
{
    margin-right: -320px;
}

.badge-content
{
    background: green;
    color:#fff;
    margin-right:2px;
    padding:2px 5px;
    font-size:9px !important;
}

.btn-default
{
    background:#eee;
}

.btn-app
{
    font-weight:bold;
    font-size:13px;
}

.title-bar
{
    font-weight:bold;
    width:100%;
    padding:7px;
    text-align:center;
    font-size:14px;
    background:rgb(223, 247, 255);
    color:rgb(0, 138, 202);
}

header{
    background: #F7F8F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7F8F8, #ACBB78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7F8F8, #ACBB78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .app-header .navbar-brand
  {
      width: 180px;
  }

  .container-fluid
  {
      padding: 0 !important;
      margin:0;
  }

.content-body
{
    padding:10px;
}



.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }
  
  .custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
  }
  
  .custom-filter-dropdown button {
    margin-right: 8px;
  }
  
  .highlight {
    color: #f50;
  }

  .left-margin { 
      margin-left: 2px !important;
      /* position: absolute !important; */
      right: 10px !important;
    }

    thead[class*="ant-table-thead"] th{
      background-color: 	#F0F0F0 !important;
      color:#0a2f76 !important;
      font-weight:700 !important;
      /* height: 10px !important; */
    }

    
  

  .rightbtn{
    float: right !important;
    margin-right: 5px !important;

  }

  th{
    line-height: 14px !important;
  }

  thead th:first-child, tbody td:first-child{
    width: 130px !important;
    padding-left:5px !important;
  }

  td{
    height: 12px !important;
  }
  .flotingBtn{
    bottom: 40px !important;
  }
  
  tbody > tr > td {
    padding: 5px 16px !important;
    font-size:13px !important;
}

.ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 0px;
}

.form-control
{
  font-size:15px !important;
}

.rdl-filter, .rdl-control
{
  font-size:15px !important;
}

.container-fluid label
{
  font-size:15px;
  font-weight:bold;
}

.main, .container-fluid .card
{
  background:#ECF0F1 !important;
  border:none !important;
}

.content-body
{
  background: #fff;
  border-radius:10px;
  margin:20px;
  padding:20px;
  border:0px;
}

.container-fluid .card-body, .container-fluid .card-footer
{
  background: #fff !important;
  border-radius:10px !important;
  margin:20px 10% !important;
  padding:20px !important;
  border:0px !important;
}

.container-fluid .card-footer
{
  margin-bottom:30px !important;
}

/* #title-cont
{
  font-size:16px;
  color: #07ace6;
  background:#f0fffd;
} */

header
{
    background: rgba(12,206,188,1);
    background: -webkit-linear-gradient(-45deg, rgba(49,93,183,1) 0%, rgba(12,206,188,1) 100%);
    background: linear-gradient(135deg,rgba(49,93,183,1) 0%, rgba(12,206,188,1) 100%);
}

.navbar-brand
{
  background: #fff !important;
  margin: 10px !important;
  height: 40px !important;
  border-radius: 5px !important;
}


.app-header {
  border-bottom: 0px solid #c8ced3 !important;
}

td button {
    padding: 6px !important;
}




.styles_modal__gNwvD, .styles_modal__gNwvD .card-body
{
    border-radius:15px;
}

.styles_modal__gNwvD .card
{
    border:none;
}

.narrow-input
{
    height: 35px !important;
}

.input-group-text
{
    padding-top: 0.5rem;
}

.app-header .navbar-toggler-icon, .app-header .navbar-toggler:hover .navbar-toggler-icon
{
    background-image: url("https://bluehilltavern.com/dist/assets/images/hamburger.png") !important;
}


.active_button{
    font-size: x-small !important;
    height: 30px;
}

.center-tr {
    padding-left: 20%;
}


.student_title {
    font-size: 16px;
    color: darkmagenta;
}


.ant-table-thead > tr > th {
     border-bottom: 0px solid #e8e8e8 !important; 
}

.progress_row.row {
    border: black;
    color: saddlebrown;
    background-color: whitesmoke;
    /* padding-top: 10px; */
    padding-top: 10px;
    margin: 10px;
    margin-top:75px;
}

p.progress_text {
    font-size: medium;
}


p.btn_p {
    color: #000;
    background: #C2F5FF;
    border: 16px;
    padding: 5px;
    margin: 4px;
    width: 100%;
    text-align: center;
    font-size: medium;
    cursor: pointer;
}


.styles_modal__gNwvD {
    width: 60%;
}

p.qution {
    font-weight: 500;
    margin: 2px;
}

p.answer {
    margin: 2px;
}

.btn_div {
    padding: 10px;
    /* margin: 3px; */
    /* color: crimson; */
    /* border: 10px; */
    /* margin: 50px; */
    background-color: #C2F5FF;
    /* border-radius: 5%; */
    /* width: 92%; */
    border-radius: 5px;
}

p.warning_title {
    padding: 0px;
    border-bottom: 0px;
    margin-bottom: 4px;
    color: red;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

p.warning_msg {
    color: red;
}

a.link {
    font-family: Helvetica;
    font-size:   1em;
    // font-weight: bold;
    color      : #000099 !important;
    text-decoration: none;
}

.center_btn {
    width: 40%;
    margin-left: 30% !important;
    margin-right: 30% !important;
}

.callout.callout-info {
    background-color: white !important;
}

.p1 {
    background-color: whitesmoke !important;
    border-radius: 5px !important;
    padding: 2px;
}

.pb-0.card-body{
    margin-right: 2% !important;
    margin-left: 2% !important;
}

.h1-111{
    margin: 2px;
}

.callout.callout-info {
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
}


.invite_btn {
    text-transform: lowercase !important;
    margin: 1px !important;
  text-align: center !important;
  padding: 2px !important;
}

.btn_div_a {
    padding: 10px;
    /* margin: 3px; */
    /* color: crimson; */
    /* border: 10px; */
    /* margin: 50px; */
    /* border-radius: 5%; */
    /* width: 92%; */
}

.list_point{cursor: pointer;}

.profile-header
{
    background: #fff !important;
    margin:20px 10% !important;
    margin-top:30px !important;
    padding:10px !important;
    position:relative;
    margin-bottom:40px !important;
}

.profile-cover
{
    background: rgba(12,206,188,1);
    background: -webkit-linear-gradient(-45deg, rgba(49,93,183,1) 0%, rgba(12,206,188,1) 100%);
    background: linear-gradient(135deg,rgba(49,93,183,1) 0%, rgba(12,206,188,1) 100%);
    width:100%;
    height:150px;
    position:relative;
}

.progress_bar
{
    position:absolute;
    top:-20px;
    left:0;
    height:10px;
    width:100%;
}

.progress_text
{
    width:100%;
    position:absolute;
    text-align:center;
    font-size:10px;
    top:-7px;
    left:0px;
    color:#fff;
    height:18px;
}

.progress_text span
{
    color:#fff;
    background:#222;
    border-radius:5px;
}

.profile-name
{
    font-size:40px;
    font-weight:bold;
    color:#fff;
    text-transform: uppercase;
    padding-left:30px;
    position:absolute;
    width:100%;
    text-align:center;
    margin-top:20px;
}

.profile-name span{
    font-size:15px;
    text-transform: none;
    color:#fff !important;
}

.profile-name div{
    margin-top: -35px;
}

.profile-enrolledinfo
{
    font-size:20px;
    font-weight:bold;
    color:#0ccebc;
    padding-left:30px;
}

.profile-enrolled-section
{
    display:inline-block;
    text-align: center;
    width:auto;
    height:120px;
}


.profile-img
{
    position:absolute;
    display:inline-block;
    width:150px;
    height:150px;
    border-radius:75px;
    bottom:-40px;
    left:20px;
    border:10px solid #fff;
}

.sec-title
{
    background: #C2F5FF;
    width:100%;
    font-weight:bold;
    padding:10px;
    font-size:16px;
    margin-top:20px;
}

.card-title
{
    background: #C2F5FF;
    width:100%;
    font-weight:bold;
    padding:10px;
    font-size:16px;
    margin-top:-20px;
    text-align:center;
}

.filter-right {
    display: flex; justify-content: flex-end;
}

.portal-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align:center;
    padding:20px 5px;
    position:relative;
    margin-bottom:15px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .portal-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .portal-card h1{
      font-size:30px;
      font-weight:bold;
      color:#fff;
  }

  .portal-card .title
  {
    position:absolute;
    bottom:0;
    width:100%;
    left:0;
    background: #555;
    color:#fff;
    margin-bottom:0;
    font-size:11px;
    padding:5px;
  }

  .clear_button {
    margin-left: 10px !important;
 }